/****************************************************************************


AMSSETUP.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "amssetup.h"

asicon ICON "amssetup.ico"


folder ICON "cfolder.ico"

asmenu MENU 
{
 POPUP "&Setup"
 {
  MENUITEM "&Subjects", CM_SUBJECT
  MENUITEM "&Teachers", CM_TEACHER
  MENUITEM "St&udents", CM_STUDENT
  MENUITEM "St&yle Sheet", CM_STYLE
  MENUITEM SEPARATOR
  MENUITEM "E&xit && Save", CM_EXIT
 }

 POPUP "&Options"
 {
  MENUITEM "&Options", CM_OPTION
  MENUITEM "&Data Summary", CM_SUMMARY
  MENUITEM "&Supervisor Only", CM_SUPER
  MENUITEM SEPARATOR
  MENUITEM "&Open data files", CM_OPEN
  MENUITEM "&Save data as...", CM_SAVEAS
 }

 POPUP "\a&Help"
 {
  MENUITEM "&Help", CM_HELP
  MENUITEM "&System Info", CM_SYSINFO
  MENUITEM SEPARATOR
  MENUITEM "&About", CM_ABOUT
 }

}

aclogo BITMAP "appleby1.bmp"






pdcbkgd BITMAP "pdsbkgd.bmp"

pdclogo BITMAP "pdclogo.bmp"

addclassdlg DIALOG 29, 28, 177, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add Class"
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_SUBCODE, 5, 14, 46, 12, ES_UPPERCASE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_SECTION, 61, 14, 16, 12, ES_UPPERCASE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_DESCRIPTION, 6, 39, 108, 12
 LTEXT "(01-99)", -1, 81, 15, 32, 8, WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 120, 6, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 120, 22, 50, 14, WS_TABSTOP
 PUSHBUTTON "Help", IDHELP, 120, 38, 50, 14, WS_TABSTOP
 LTEXT "Subject Code :", -1, 5, 5, 60, 8, WS_GROUP
 CONTROL "Section no :", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 5, 44, 8
 LTEXT "Description :", -1, 5, 29, 60, 8, WS_GROUP
}


addteacherdlg DIALOG 10, 22, 269, 158
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add Teacher"
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_LASTNAME, 50, 6, 88, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_FIRSTNAME, 50, 20, 88, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_TEACHCODE, 200, 6, 48, 12, ES_UPPERCASE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_PASSWORD, 188, 20, 60, 12, ES_LOWERCASE | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 LISTBOX IDE_CLASSLISTBOX, 10, 58, 89, 85, LBS_STANDARD
 LISTBOX IDE_TEACLASSLIST, 162, 58, 97, 65, LBS_STANDARD
 CONTROL "", IDE_TOTALCLASS, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 248, 47, 16, 8
 PUSHBUTTON "&Class Info", IDE_CLASSINFO, 106, 57, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Add ->", IDE_ADDCLASS, 106, 74, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<- &Remove", IDE_REMOVECLASS, 106, 91, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Clear", IDE_CLEARCLASS, 106, 108, 50, 14, WS_DISABLED | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 106, 125, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 159, 125, 50, 14
 PUSHBUTTON "Help", IDHELP, 212, 125, 50, 14
 LTEXT "Last Name :", -1, 4, 8, 44, 8
 LTEXT "First Name :", -1, 4, 21, 44, 8
 LTEXT "Teacher Code :", -1, 144, 7, 54, 8
 LTEXT "Password :", -1, 145, 21, 40, 8
 GROUPBOX "", ID_GROUP, 4, 39, 262, 108, BS_GROUPBOX
 CONTROL "no. of class available :", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 46, 78, 8
 CONTROL "no. of classes teaching :", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 46, 82, 8
 CONTROL "", IDE_CLASSAVA, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 47, 22, 8
}


editteacherdlg DIALOG 18, 29, 269, 158
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Teacher Information"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 106, 125, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 159, 125, 50, 14
 PUSHBUTTON "Help", IDHELP, 212, 125, 50, 14
 LTEXT "Last Name :", -1, 4, 8, 44, 8
 LTEXT "First Name :", -1, 4, 21, 44, 8
 EDITTEXT IDE_LASTNAME, 50, 6, 88, 12
 EDITTEXT IDE_FIRSTNAME, 50, 20, 88, 12
 LTEXT "Teacher Code :", -1, 144, 7, 54, 8
 EDITTEXT IDE_TEACHCODE, 200, 6, 48, 12
 LTEXT "Password :", -1, 145, 21, 40, 8
 EDITTEXT IDE_PASSWORD, 188, 20, 60, 12, ES_PASSWORD | WS_BORDER | WS_TABSTOP
 GROUPBOX "", ID_GROUP, 4, 39, 262, 108, BS_GROUPBOX
 PUSHBUTTON "&Class Info", IDE_CLASSINFO, 106, 57, 50, 14
 PUSHBUTTON "&Add ->", IDE_ADDCLASS, 106, 74, 50, 14
 PUSHBUTTON "<- &Remove", IDE_REMOVECLASS, 106, 91, 50, 14
 PUSHBUTTON "&Clear", IDE_CLEARCLASS, 106, 108, 50, 14
 LISTBOX IDE_CLASSLISTBOX, 10, 58, 89, 85, LBS_STANDARD
 LISTBOX IDE_TEACLASSLIST, 162, 58, 97, 65, LBS_STANDARD
 LTEXT "class list :", -1, 12, 46, 60, 8
 CONTROL "no. of classes teaching :", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 159, 46, 82, 8
 CONTROL "", IDE_TOTALCLASS, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 242, 47, 16, 8
}

#include "about.dlg"


addstudentdlg DIALOG 12, 25, 269, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add Student"
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_LASTNAME, 49, 3, 88, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_FIRSTNAME, 49, 17, 88, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_STUDENTCODE, 90, 43, 48, 12
 GROUPBOX "Gender :", ID_GROUP, 5, 32, 76, 26, BS_GROUPBOX
 CONTROL "Boy", IDE_BOY, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 14, 43, 26, 12
 CONTROL "Girl", IDE_GIRL, "BUTTON", BS_AUTORADIOBUTTON, 44, 43, 30, 12
 COMBOBOX IDE_GRADE, 142, 15, 47, 45, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 COMBOBOX IDE_HOUSE, 194, 15, 71, 45, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Grade :", -1, 142, 4, 60, 8, NOT WS_GROUP
 LISTBOX IDE_SUBLISTBOX, 10, 77, 89, 85, LBS_STANDARD | WS_TABSTOP
 LISTBOX IDE_STUSUBLIST, 162, 77, 97, 63, LBS_STANDARD | WS_TABSTOP
 CONTROL "", IDE_SUBJAVA, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 78, 66, 22, 8
 PUSHBUTTON "&Subject Info", IDE_CLASSINFO, 106, 76, 50, 14, WS_DISABLED | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Add ->", IDE_ADDCLASS, 106, 93, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<- &Remove", IDE_REMOVECLASS, 106, 110, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Clear", IDE_CLEARCLASS, 106, 127, 50, 14, WS_DISABLED | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 106, 144, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 159, 144, 50, 14
 PUSHBUTTON "Help", IDHELP, 212, 144, 50, 14
 CONTROL "", IDE_SUBSTUDY, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 242, 66, 16, 8
 LTEXT "Last Name :", -1, 4, 4, 44, 8, NOT WS_GROUP
 LTEXT "First Name :", -1, 4, 18, 44, 8, NOT WS_GROUP
 LTEXT "Student Code :", -1, 89, 32, 52, 8, NOT WS_GROUP
 GROUPBOX "", ID_GROUP, 4, 58, 262, 108, BS_GROUPBOX
 CONTROL "Subjects aviable :", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 12, 65, 62, 8
 CONTROL "Subjects now taking:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 165, 65, 74, 8
 LTEXT "House :", -1, 195, 5, 60, 8, NOT WS_GROUP
}


editstudentdlg DIALOG 12, 25, 269, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Student"
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_LASTNAME, 49, 3, 88, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_FIRSTNAME, 49, 17, 88, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_STUDENTCODE, 90, 43, 48, 12
 GROUPBOX "Gender :", ID_GROUP, 5, 32, 76, 26, BS_GROUPBOX
 CONTROL "Boy", IDE_BOY, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 14, 43, 26, 12
 CONTROL "Girl", IDE_GIRL, "BUTTON", BS_AUTORADIOBUTTON, 44, 43, 30, 12
 COMBOBOX IDE_GRADE, 142, 15, 47, 45, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 COMBOBOX IDE_HOUSE, 194, 15, 71, 45, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Grade :", -1, 142, 4, 60, 8, NOT WS_GROUP
 LISTBOX IDE_SUBLISTBOX, 10, 77, 89, 85, LBS_STANDARD | WS_TABSTOP
 LISTBOX IDE_STUSUBLIST, 162, 77, 97, 63, LBS_STANDARD | WS_TABSTOP
 CONTROL "", IDE_SUBJAVA, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 78, 66, 22, 8
 PUSHBUTTON "&Subject Info", IDE_CLASSINFO, 106, 76, 50, 14, WS_DISABLED | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Add ->", IDE_ADDCLASS, 106, 93, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "<- &Remove", IDE_REMOVECLASS, 106, 110, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "&Clear", IDE_CLEARCLASS, 106, 127, 50, 14, WS_DISABLED | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 106, 144, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 159, 144, 50, 14
 PUSHBUTTON "Help", IDHELP, 212, 144, 50, 14
 CONTROL "", IDE_SUBSTUDY, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 242, 66, 16, 8
 LTEXT "Last Name :", -1, 4, 4, 44, 8, NOT WS_GROUP
 LTEXT "First Name :", -1, 4, 18, 44, 8, NOT WS_GROUP
 LTEXT "Student Code :", -1, 89, 32, 52, 8, NOT WS_GROUP
 GROUPBOX "", ID_GROUP, 4, 58, 262, 108, BS_GROUPBOX
 CONTROL "Subjects aviable :", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 12, 65, 62, 8
 CONTROL "Subjects now taking:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 165, 65, 74, 8
 LTEXT "House :", -1, 195, 5, 60, 8, NOT WS_GROUP
}


optiondlg DIALOG 6, 15, 165, 79
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 102, 6, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 102, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Help", IDHELP, 102, 42, 50, 14, WS_TABSTOP
 CHECKBOX "Password Protection", IDE_PASSPRO, 9, 8, 84, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Globle Access", IDE_GLOBLE, 9, 20, 60, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Auto Backup", IDE_BACKUP, 9, 46, 78, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 EDITTEXT IDE_MINUTE, 49, 60, 24, 12
 LTEXT "On every :", -1, 9, 61, 38, 8
 LTEXT "mins", -1, 78, 62, 14, 8
 CHECKBOX "16 Color Display", IDE_COLOR, 9, 33, 68, 12, BS_AUTOCHECKBOX | WS_TABSTOP
}


superopdlg DIALOG 6, 15, 207, 78
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Supervisor Options"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 148, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 148, 24, 50, 14
 PUSHBUTTON "Help", IDHELP, 148, 42, 50, 14
 CHECKBOX "Delete Allowed", IDE_DELALLOW, 5, 7, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Setup Password Protection", IDE_SETPASS, 5, 20, 100, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 EDITTEXT IDE_OLDPASS, 61, 34, 76, 12, ES_PASSWORD | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_NEWPASS, 61, 48, 76, 12, ES_PASSWORD | WS_DISABLED | WS_BORDER | WS_TABSTOP
 EDITTEXT IDE_VERIFY, 61, 62, 76, 12, ES_PASSWORD | WS_DISABLED | WS_BORDER | WS_TABSTOP
 LTEXT "Old Password :", -1, 5, 37, 52, 8
 LTEXT "New Password :", -1, 5, 50, 54, 8, WS_DISABLED | WS_GROUP
 LTEXT "Verification :", -1, 5, 63, 48, 8, WS_DISABLED | WS_GROUP
}

saveloaddlg DIALOG 18, 16, 260, 138
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_FILE, 6, 13, 88, 12, WS_BORDER | WS_TABSTOP
 LISTBOX IDE_FILELIST, 10, 25, 83, 105, LBS_STANDARD | WS_TABSTOP
 LISTBOX IDE_DIRLIST, 103, 25, 91, 69, LBS_STANDARD | WS_TABSTOP
 COMBOBOX IDE_DRIVE, 103, 104, 91, 53, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Drive :", -1, 102, 94, 60, 8
 DEFPUSHBUTTON "OK", IDOK, 203, 6, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 203, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Help", IDHELP, 203, 42, 50, 14, WS_TABSTOP
 LTEXT "File :", -1, 8, 3, 60, 8
 LTEXT "Directory :", -1, 103, 4, 60, 8
 LTEXT "", IDE_DIR, 103, 14, 60, 8
}



passworddlg DIALOG 22, 25, 188, 61
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Appleby Marking System Setup"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Cacnel", IDCANCEL, 131, 23, 50, 14
 DEFPUSHBUTTON "OK", IDC_PUSHBUTTON1, 131, 40, 50, 14
 ICON "asicon", -1, 9, 9, 18, 20
 LTEXT "Appleby Marking System", -1, 35, 10, 80, 8
 LTEXT "Setup Program", -1, 35, 20, 60, 8
 LTEXT "Password :", -1, 7, 38, 42, 8
 EDITTEXT IDE_PASSWORD, 45, 37, 74, 12, ES_LOWERCASE | ES_PASSWORD | WS_BORDER | WS_TABSTOP
}


descripdlg DIALOG 6, 15, 204, 16
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_DESCRIPTION, 2, 2, 200, 12, NOT WS_BORDER | WS_TABSTOP
}


descriptiondlg DIALOG 6, 15, 217, 12
STYLE WS_POPUP | WS_VISIBLE | WS_BORDER
FONT 8, "MS Sans Serif"
{
 EDITTEXT IDE_DESCRIPTION, 2, 1, 214, 12, ES_AUTOHSCROLL | NOT WS_BORDER | WS_TABSTOP
}

